
<h1> Your Cake </h1>
<%= render 'cake' %>
<%= link_to "Add this Cake to Order" %><br>
<%= link_to "Edit this Cake", edit_cake_path(@cake) %><br>
<%= link_to "Delete this Cake", @cake, method: :delete %>