<h3> Please make a detailed description for your order. </h3>
 
 <%= form_for @order do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description, list: 'order-description' %><br><br>
    <%= f.submit %>
    <% end %>