<header id="center-header">
<h1>Welcome to Zsa Zsa's Cake Shop</h1><br>

</header>

<section id="options">
    <h1>Please log in with:</h1>
    <h1>
    <%= link_to "Email", login_path %> <br>
   
    <%= link_to "Sign Up", new_customer_path %> </h1>
    </h1>
  </section>